.project
.vscode
/phpinfo.php
resources/config.php
secure/mailto.bat
secure/*.db
secure/*.sqlite
.DS_Store
app/applications
app/replication
themes/thepbxnet
app/fax/resources/images/*/

*.php~

app/yealink/resources/firmware/*
